@font-face {
    font-family: 'PT Root UI';
    src: url('https://api.paratype.com/api/editions/ofl/download/52132') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('https://api.paratype.com/api/editions/ofl/download/52133') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('https://api.paratype.com/api/editions/ofl/download/52134') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}